<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/knitify.css" />

	<style>

		label {
			position: relative;
		}

		.bi-info-circle-fill {
			position: absolute;
			right: 100%;
			color: grey;
			top: 50%;
			transform: translate(0, -50%);
			margin-right: 10px;
			cursor: pointer;
		}
	</style>
</head>

<body>
	<%- include ("../partials/knitify-nav.ejs") %>
	<p id="explaination">
	This is a web version of the <a href="https://github.com/textiles-lab/knitout/">knitout</a> image processing program developed by <a href="https://edgygrandma.com/">Gabrielle Ohlson</a> for use on the <a href="https://kniterate.com/">Kniterate</a> knitting machine.<br>
	<a class="markedLink" href="https://github.com/gabrielle-ohlson/knitout-image-processing/issues">Report bugs</a>.
	<a class="markedLink" href="https://github.com/gabrielle-ohlson/knitout-image-processing/">Get source code</a> (also includes a command-line version).
	</p>
	<main>
		<form ref="uploadForm" id="uploadForm" method="post" action="/download" encType="multipart/form-data">
			<div>
				<div id="colorworkImage" class="imgContainer" style="display:block">
					<h2>Colorwork Image</h2>
					<label for="colFile" class="file load empty" id="colInFileHolder">
						<input type="file" class="fileInput" id="colFile" name="colFile" value="" style="display:none" required />
						<div id="inFileName"></div> <!-- TODO: add this (also probably class instead ?) -->
					</label>
					<p>
					<a href="https://github.com/textiles-lab/knitout">Knitout</a> (<code>.k</code> or <code>.knitout</code>) is an instruction-oriented and portable knitting machine language.
					</p>
				</div>
				<div id="shapeImage" class="imgContainer" style="display:none">
					<h2>Shape Image</h2>
					<label for="shapeFile" class="file load empty" id="shapeInFileHolder">
						<input type="file" class="fileInput" id="shapeFile" name="shapeFile" style="display:none">
						<div id="inFileName"></div>
					</label>
					<p>
						<a href="https://github.com/textiles-lab/knitout">Knitout</a> (<code>.k</code> or <code>.knitout</code>) is an instruction-oriented and portable knitting machine language.
					</p>
				</div>
				<div id="stitchImage" class="imgContainer" style="display:none">
					<h2>Stitch Pattern Image</h2>
					<label for="stFile" class="file load empty" id="stInFileHolder">
						<input type="file" class="fileInput" id="stFile" name="stFile" style="display:none" />
						<div id="inFileName"></div>
					</label>
					<p>
						<a href="https://github.com/textiles-lab/knitout">Knitout</a> (<code>.k</code> or <code>.knitout</code>) is an instruction-oriented and portable knitting machine language.
					</p>
				</div>
			</div>
			<div class="specs" id="col-specs" style="display:block">
				<label id="MaxColorsLabel" for="MaxColors">Max colors:</label>
				<input type="number" min="1" max="6" oninput="validity.valid||(value='');" onchange="adjustPalSize(this.value)" id="MaxColors" name="MaxColors" step=1 size=6 value=1 />
				<br>
				<label id="PaletteLabel" for="Palette">Palette:</label>
				<span id="palContainer">
					<span class="palInput"><input type="text" onblur="(validHex(this))||((alert(`${value} is an invalid hexcode.`)), (this.value=''));" id="Palette" name="Palette" placeholder="input hexcode" size=6 /></span>
				</span>
				<br>
				<label id="BackStyleLabel" for="BackStyle">Back Style:</label>
				<select id="BackStyle" name="BackStyle" onchange="describeBackStyle(this.value)"> <!--TODO: have descriptions appear when clicked-->
					<option value="Default"><button>Default</button></option>
					<option value="Birdseye"><button>Birdseye</button></option>
					<option value="Minimal"><button>Minimal</button></option>
					<option value="Secure"><button>Secure</button></option>
				</select>
				<span id="BackStyleDescription"> is a freeform option that is similar to Birdseye in performance, but more suitable for pieces containing up to 5 colors.</span>
				<br>
				<label id="DitheringLabel" for="Dithering">Dithering:
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
						<path onclick="infoAlert(this)" style="z-index: 10;" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
					</svg>
				</label>
				<select id="Dithering" name="Dithering"> <!--TODO: have description-->
					<option value="true"><button>true</button></option>
					<option value="false"><button>false</button></option>
				</select>
			</div>
			<div class="specs" id="shape-specs" style="display:none">
				<label id="IncMethodLabel" for="IncMethod">Increasing method:</label>
				<select id="IncMethod" name="IncMethod"> <!--TODO: have description-->
					<option value="xfer"><button>xfer</button></option>
					<option value="twisted-stitch"><button>twisted stitch</button></option>
					<option value="split"><button>split</button></option>
				</select>
				<br>
				<label id="XferSpeedLabel" for="XferSpeed">Xfer speed:</label>
				<input type="number" min="0" max="600" onblur="validity.valid||(value='');" id="XferSpeed" name="XferSpeed" step=1 size=3 value=300 />
				<br>
			</div>
			<div class="specs" id="ext-specs" style="display: none;">
				<h2>Specs</h2>
				<label id="NeedleCountLabel" for="NeedleCount">Needle count:</label>
				<input type="number" min="1" max="252" onblur="validity.valid||(value='');" id="NeedleCount" name="NeedleCount" step=1 placeholder="leave blank to scale to img dimensions" size=4 />
				<br>
				<label id="RowCountLabel" for="RowCount">Row count:</label>
				<input type="number" min="1" oninput="validity.valid||(value='');" id="RowCount" name="RowCount" step=1 placeholder="leave blank to scale to img dimensions" size=4 />
				<br>
				<label id="MachineLabel" for="Machine">Machine:</label>
				<input type="text" pattern="[kK]niterate|[sS]hima" onblur="validity.valid||(alert('invalid machine type.'), value='kniterate');" id="Machine" name="Machine" value="kniterate" size=8 />
				<!-- <input type="text" pattern="[kK]niterate|[sS]hima" id="Machine" name="Machine" value="kniterate"/> -->
				<br>
				<label id="CastonCarrierLabel" for="CastonCarrier">Caston carrier:</label>
				<input type="number" min="1" max="6" oninput="validity.valid||(value='');" id="CastonCarrier" name="CastonCarrier" step=1 placeholder="optional" size=2/>
				<br>
				<h2>Extensions</h2>
				<label id="StitchNumberLabel" for="StitchNumber">Stitch number:</label>
				<input type="number" min="0" max="9" oninput="validity.valid||(value='');" id="StitchNumber" name="StitchNumber" step=1 size=2 value=6 />
				<br>
				<label id="SpeedNumberLabel" for="SpeedNumber">Speed number:</label>
				<input type="number" min="0" max="600" onblur="validity.valid||(value='');" id="SpeedNumber" name="SpeedNumber" step=1 size=3 value=300 />
				<br>
			</div>
			<div class="specs" id="stitch-specs" style="display:none">
				<table id="stitch-specs-table">
					<tr class="columns">
						<td></td>
					</tr>
				</table>
			</div>
			<div class="specs" id="rib-specs" style="display:none">
				<h2>Top Rib</h2>
				<label id="RibTopLabel" for="RibTop">Carrier:</label>
				<input type="number" min="1" max="6" oninput="validity.valid||(value='');" id="RibTop" name="RibTop" step=1 placeholder="optional" size=4 />
				<br>
				<label id="RibTRowsLabel" for="RibTRows">Row count:</label>
				<input type="number" min="1" onblur="validity.valid||(value='');" id="RibTRows" name="RibTRows" step=1 size=4 value=20 />
				<br>
				<h2>Bottom Rib</h2>
				<label id="RibBotLabel" for="RibBot">Carrier:</label>
				<input type="number" min="1" max="6" oninput="validity.valid||(value='');" id="RibBot" name="RibBot" step=1 placeholder="optional" size=4 />
				<br>
				<label id="RibBRowsLabel" for="RibBRows">Row count:</label>
				<input type="number" min="1" onblur="validity.valid||(value='');" id="RibBRows" name="RibBRows" step=1 size=4 value=32 />
				<br>
			</div>
			<div class="specs" id="waste-section-specs" style="display:none">
				<label id="WasteCarrierLabel" for="WasteCarrier">Waste carrier:</label>
				<input type="number" min="1" max="6" oninput="validity.valid||(value='');" id="WasteCarrier" name="WasteCarrier" step=1 placeholder="optional" size=4 />
				<br>
				<label id="WasteStitchLabel" for="WasteStitch">Waste stitch number:</label>
				<input type="number" min="0" max="9" oninput="validity.valid||(value='');" id="WasteStitch" name="WasteStitch" step=1 size=2 value=6 />
				<br>
				<label id="WasteSpeedLabel" for="WasteSpeed">Waste speed number:</label>
				<input type="number" min="0" max="600" onblur="validity.valid||(value='');" id="WasteSpeed" name="WasteSpeed" step=1 size=4 value=400 />
				<br>
				<label id="WasteRollerLabel" for="WasteRoller">Waste roller advance:</label>
				<input type="number" min="0" max="1000" onblur="validity.valid||(value='');" id="WasteRoller" name="WasteRoller" step=1 size=4 value=150 />
				<br>
				<label id="WasteRowsLabel" for="WasteRows">Waste row count:</label>
				<input type="number" min="35" onblur="validity.valid||(value='');" id="WasteRows" name="WasteRows" step=1 size=4 value=40 />
				<br>
			</div>
			<input type="hidden" id="stitchOptions" name="stitchOptions" />
			<input id="submit-button" type="submit" value="Submit!" />
		</form>	
	</main>
	
	<div id="dropTarget"></div>

	<script>
		/*
		if ('BackStyle' in req.body) back_style = req.body.BackStyle;
		if ('NeedleCount' in req.body) needle_count = req.body.NeedleCount;
		if ('RowCount' in req.body) row_count = req.body.RowCount;
		if ('MaxColors' in req.body) max_colors = req.body.MaxColors;
		if ('Dithering' in req.body) dithering = req.body.Dithering;
		if ('Palette' in req.body) palette_opt = req.body.Palette;

		if ('Machine' in req.body) machine = req.body.Machine;
		if ('StitchNumber' in req.body) stitch_number = req.body.StitchNumber;
		if ('SpeedNumber' in req.body) speed_number = req.body.SpeedNumber;
		if ('CastonCarrier' in req.body) caston_carrier = req.body.CastonCarrier;
		if ('WasteSettings' in req.body) wasteSettings = req.body.WasteSettings; //TODO: make sure this stays as an object

		if ('Rib' in req.body) rib_info = req.body.Rib;
		*/

		let colorwork_img, needle_count = 'AUTO', row_count = 'AUTO', machine = 'kniterate', max_colors, dithering = false, palette_opt, stitch_number, speed_number, caston_carrier, wasteSettings, back_style = 'Secure', rib_info, st_pat_img, stitchPatterns = [];

		let carriers = ['1']; //for now

		let colFileInput = document.getElementById('colFile');
		let stFileInput = document.getElementById('stFile');
		let needleCountInput = document.getElementById('NeedleCount');
		let rowCountInput = document.getElementById('RowCount');

		let fileInputs = document.querySelectorAll('.fileInput');

		let colorworkImageContainer = document.getElementById('colorworkImage');
		let colInFileHolder = document.getElementById('colInFileHolder');

		let stitchImageContainer = document.getElementById('stitchImage');

		let shapeImageContainer = document.getElementById('shapeImage');

		let backStyleDescription = document.getElementById('BackStyleDescription');


		function infoAlert(target) {
			let message;

			let labelId = target.closest('label').id;

			if (labelId === 'DitheringLabel') message = `dithering is recommended for detailed/naturalistic images, but not for graphics/digital artwork.`;

			alert(message);
		}


		function validHex(target) {
			let hexcode = target.value;
			if (hexcode === '') return true;
			let el = document.createElement('div');
			el.style.borderColor = '';
			el.style.borderColor = `#${hexcode}`;

			if (!el.style.borderColor.length) return false;
			else {
				target.value = hexcode;
				return true;
			}
		}


		function stitchOnly() {
			if (stFileInput.value) colFileInput.required = false;

			if (colFileInput.value) {
				needleCountInput.required = false;
				rowCountInput.required = false;
			} else { //require needle and row
				needleCountInput.required = true;
				rowCountInput.required = true;
			}
		}


		let stitch_pat_cols = [];


		function getStitchColors(img) {
			console.log('img:', img.src);
			let colors = [];
			// convert image to canvas
			let canvas = document.createElement('canvas');
			// Get convas information
			canvas.width = img.width;
			canvas.height = img.height;
			canvas.getContext('2d').drawImage(img, 0, 0);
			// Find the click pixel color information

			console.log(canvas.toDataURL());

		
			for (let y = 0; y < canvas.height; ++y) {
				for (let x = 0; x < canvas.width; ++x) {
					let px = canvas.getContext('2d').getImageData(x, y, 1, 1).data;
					let rgb = `${px[0]}, ${px[1]}, ${px[2]}`;

					if (rgb !== `255, 255, 255` && !colors.includes(rgb)) colors.push(rgb);
				}
			}
			
			console.log('colors:', colors, typeof colors, colors.length); //remove //debug
			return colors;
		}


		let palContainer = document.getElementById('palContainer');
		

		function adjustPalSize(colCount) {
			colCount = Number(colCount);

			let palInputCount = palContainer.childElementCount;
			
			if (colCount > palInputCount) {
				let inputClone = palContainer.querySelector('.palInput').cloneNode(true);
				inputClone.querySelector('input').value = '';
				
				for (let p = 0; p < (colCount-palInputCount); ++p) {
					carriers.push(`${carriers.length+1}`);
					
					palContainer.appendChild(inputClone);
					inputClone = inputClone.cloneNode();
				}
			} else if (colCount < palInputCount) {
				let palInputs = Array.from(palContainer.querySelectorAll('input'));

				let emptyInputs = palInputs.filter(el => !el.value);

				while (palInputCount > colCount) {
					if (emptyInputs.length) {
						let removeInput = emptyInputs.pop();
						palContainer.removeChild(removeInput.closest('.palInput'));
					} else {
						let palInputContainers = palContainer.querySelectorAll('.palInput');
						palContainer.removeChild(palInputContainers[palInputContainers.length-1]);
					}

					carriers.pop();
					--palInputCount;
				}
			}

			let stitchPatCarriers = document.querySelectorAll('select.carrier');

			stitchPatCarriers.forEach(el => {
				let selectedC = el.value;
				console.log('selectedC:', selectedC); //remove //debug
				el.innerHTML = '';
				for (let c = 0; c < carriers.length; ++c) {
					el.innerHTML += `<option value="${carriers[c]}">${carriers[c]}</option>`
				}
				el.value = selectedC;
			});
		}


		function describeBackStyle(choice) {
			if (choice === 'Default') {
				backStyleDescription.innerText = ' is a freeform option that is similar to Birdseye in performance, but more suitable for pieces containing up to 5 colors.';
			} else if (choice === 'Birdseye') {
				backStyleDescription.innerText = ' is not recommended for pieces that use more than 3 colors due to the build up of extra rows the method creates on the back bed.'
			} else if (choice === 'Minimal') {
				backStyleDescription.innerText = ' creates a reasonably even ratio of front to back rows, resulting in the least amount of build up on the back.'
			} else if (choice === 'Secure') {
				backStyleDescription.innerText = ` is the 'Minimal' option, with additional knits on the side needles for extra security.`
			}
		}


		function readFile(file) {
			let reader = new FileReader();
			reader.onload = function() {
				// console.log(this.result); //remove //debug

				// let arrayBuffer = this.result;
        // let bytes = new Uint8Array(arrayBuffer);

				// inputEl.value = bytes.toString(); // bytes.toString()
				return this.result;
			}

			reader.readAsArrayBuffer(file);
		}


		fileInputs.forEach(el => {
			el.addEventListener('change', (evt) => {
				stitchOnly(); //TODO: check
				let imgContainer = el.closest('.imgContainer');
				let inFileHolder = el.closest('label');

				let file_img = el.files[0];

				let imgNode = new Image();

				let imgUrl = URL.createObjectURL(file_img);

				imgNode.src = imgUrl;

				imgNode.onload = function () {
					if (el.id === 'stFile') {
						stitch_pat_cols = getStitchColors(this); //new 
						let specsTable = document.getElementById('stitch-specs-table');
						specsTable.classList.remove('specified');
						specsTable.innerHTML = '<tr class="columns"><td></td></tr>'; //reset
						specify(document.querySelector('.option#stitch-patterns'));
					}
				};
				
				// console.log('imgNode:', imgNode.src); //remove //debug
				readFile(file_img);

				// el.value = imgBuffer;

				inFileHolder.style.backgroundImage = `url('${imgUrl}')`;

				

				// console.log('imgBuffer:', imgBuffer);

				// colorworkImageContainer.replaceChild(imgNode, colInFileHolder);
				
				// imgContainer.appendChild(imgNode);
				// imgContainer.replaceChild(imgNode, inFileHolder);

				evt.preventDefault();
				return false;
			});
		});

		let stitch_pat_opts = ['Rib', 'Garter', 'Bubbles', 'Seed', 'Lace', 'Horizontal Buttonholes'];

		let patCustomizations = {
			'Rib': {'sequence': 'fb'}, //TODO: add option for default
			'Garter': {'patternRows': 2},
			'Bubbles': {'bubbleWidth': 5, 'bubbleHeight': 8, 'overlap': 1},
			'Lace': {'patternRows': 2, 'stitchesBtwHoles': 1, 'holeOffset': 1, 'offsetReset': 0}
		};

		let stitchOptions = {}; //new //*

		
		function labelToCamelCase(label) {
			let words = label.toLowerCase().split(' ');
			let word1 = words.shift();
			words = words.map(w => w = w.slice(0, 1).toUpperCase() + w.slice(1));
			words.unshift(word1);
			words = words.join('');

			return words;
		}


		function labelToTag(label, camelCase) {
			if (!label.includes(' ')) {
				if (camelCase) return label;
				else return label.toLowerCase();
			}
				// if (!camelCase || !label.includes('-')) return label;
			
			if (camelCase) return labelToCamelCase(label);
			else return label.toLowerCase().replace(/ /g, '-');
		}


		function tagToLabel(tag) {
			if (tag.includes('-')) return tag.replace(/-/g, ' ');
			else return tag.replace(/([a-z])([A-Z])/g, '$1 $2').toLowerCase();
		}


		function dropDownChangeListener(listen_to, to_change, new_content) {
			if (listen_to) {
				listen_to.addEventListener('change', function() {
					to_change.innerHTML = new_content;
					// to_change.innerHTML = createDropdown(patCustomizations[el.value], 'Customizations');
				});
			}
		}

		function createDropdown(opts, default_label) {
			console.log('!', default_label, opts); //remove //debug
			if (!opts) return; //new //*
			let dropDownHtml = '';
			// if (typeof opts[0] === 'object') dropDownHtml += `<div display="grid">`;
			let opts_arr = opts;
			if (!Array.isArray(opts)) {
				dropDownHtml += `<div display="grid">`;
				opts_arr = Object.keys(opts);
			}

			dropDownHtml += `<form action="#">`;
			// let dropDownHtml = `<div class="dropdown" action="#"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Stitch Patterns <span class="caret"></span></a><ul class="dropdown-menu" role="menu">`;
			// if (default_label) dropDownHtml += `<label for="${labelToTag(default_label)}">${default_label}</label>`;
			// else default_label = opts[0];
			dropDownHtml += `<select name="${labelToTag(default_label)}" class="${labelToTag(default_label)}">`; //size="4"

			// for (let i = 0; i < opts.length; ++i) {
			for (let opt of opts_arr) {
				dropDownHtml += `<option value="${opt}"><button>${tagToLabel(opt)}</button></option>`;
			}

			dropDownHtml += `</select></form>`; // <input type="submit" value="Submit" />

			if (!Array.isArray(opts)) {
				let opt1 = Object.entries(opts)[0];
				dropDownHtml += `<div class="input-value"><input size="1" type="text" id="${labelToTag(opt1[0], true)}" name="${labelToTag(opt1[0], true)}" value="${opt1[1]}" /></div></div>`
			}

			return dropDownHtml;
		}

		function specify(optEl) {
			let opt = optEl.innerText;

			document.querySelector('.nav').querySelectorAll('li').forEach(el => {
				if (el.contains(optEl)) el.classList.add('active');
				else el.classList.remove('active');
			});

			document.querySelectorAll('.specs').forEach(el => {
				el.style.display = 'none';
			});

			colorworkImageContainer.style.display = 'none';
			stitchImageContainer.style.display = 'none';
			shapeImageContainer.style.display = 'none';

			console.log('specifying...', opt); //remove //debug

			let specsContainer;

			// let table = document.getElementById('specs-table');
			// let colHeader = document.getElementById('columns');
			let columns = {}, row_labels = [];

			if (opt === 'Colorwork') {
				specsContainer = document.getElementById('col-specs');
				// colHeader = table.querySelector('.columns');

				colorworkImageContainer.style.display = 'block';
				// stitchImageContainer.style.display = 'none';
			} else if (opt === 'Shaping') {
				shapeImageContainer.style.display = 'block';
				specsContainer = document.getElementById('shape-specs');
				// return; //because no specs container
			} else if (opt === 'Extensions & Specs') {
				specsContainer = document.getElementById('ext-specs');
			} else if (opt === 'Rib') {
				specsContainer = document.getElementById('rib-specs');
			} else if (opt === 'Waste Section') {
				specsContainer = document.getElementById('waste-section-specs');
			} else if (opt === 'Stitch Patterns') {
				specsContainer = document.getElementById('stitch-specs');

				let table = document.getElementById('stitch-specs-table');

				let colHeader = table.querySelector('.columns');

				// colorworkImageContainer.style.display = 'none';
				stitchImageContainer.style.display = 'block';

				if (!table.classList.contains('specified')) {
					table.classList.add('specified');

					columns['Stitch Pattern Name'] = createDropdown(stitch_pat_opts, 'Stitch Pattern Name');

					// columns['Mapped Color'] = `<input type='text' class='mapped-color' name='mapped-color' />`;

					columns['Carrier'] = createDropdown(carriers, 'Carrier');

					columns['Mapped Color'] = `<input type='hidden' class='mapped-color' name='mapped-color' />`;

					columns['Customizations'] = function() {
						let stitchPatCols = document.querySelectorAll('input.mapped-color');
						let stitchPatCarriers = document.querySelectorAll('select.carrier');

						for (let i = 0; i < stitchPatCols.length; ++i) {
							stitchPatCols[i].style.display = 'none';
							stitchPatCols[i].name = `mapped-color-${i+1}`;
							stitchPatCols[i].value = `[${stitch_pat_cols[i]}]`; //new //*

						}

						for (let i = 0; i < stitchPatCarriers.length; ++i) {
							stitchPatCarriers[i].name = `carrier-${i+1}`;
						}

						let stitchPatNames = document.querySelectorAll('select.stitch-pattern-name');


						function customizationTable(el, row_parent) {
							console.log('#', el); //remove //debug
							row_parent.querySelector('div.customizations').innerHTML = createDropdown(patCustomizations[el.value], 'customizations-table');

							let customTable = row_parent.querySelector('select.customizations-table');

							customTable.name = `customizations-table-${el.dataset.idx}`;

							stitchOptions[el.dataset.idx] = Object.assign({}, patCustomizations[el.value]); //new //*

							let customInput = row_parent.querySelector('div.input-value > input');
							
							customInput.addEventListener('change', function() {
								stitchOptions[el.dataset.idx][customTable.value] = Number(customInput.value); //new //*
							});

							customTable.addEventListener('change', function() {
								customInput.id = `${customTable.value}`;
								customInput.value = `${	stitchOptions[el.dataset.idx][customTable.value]}`;
							});
						}

						if (stitchPatNames) {
							let spIdx = 1;
							stitchPatNames.forEach((el) => {
								el.name = `stitch-pattern-name-${spIdx}`;
								el.dataset.idx = spIdx; //new //*
								
								let row_parent = el.closest('tr');

								customizationTable(el, row_parent); //initial one

								el.addEventListener('change', function() {
									if (el.value in patCustomizations) customizationTable(el, row_parent); //initial one
									else {
										delete stitchOptions[el.dataset.idx];
										row_parent.querySelector('div.customizations').innerHTML = 'None.';
									}
								});
								spIdx += 1;
							});
						}
						
					}; //will be updated if something is selected


					if (stitch_pat_cols.length) {
						for (let i = 0; i < stitch_pat_cols.length; ++i) {
							row_labels.push(`<span style="color: rgb(${stitch_pat_cols[i]})">Stitch Pattern #${i+1}:<span>`); //TODO: add rgb to dataset
						}
					}
				}

				let c = 1;
				for (let col in columns) {
					let column = colHeader.insertCell(c);
					column.id = labelToTag(col);
					column.innerHTML = `<b>${col}</b>`;

					if (typeof columns[col] === 'string') console.log(columns[col], columns[col].includes("type='hidden'"));

					if (typeof columns[col] === 'string' && columns[col].includes("type='hidden'")) column.style.display = 'none';

					c += 1;
				}

				let cells = {};
				for (let r = 0; r < row_labels.length; ++r) {
					cells[r] = [];

					let row = table.insertRow(r+1);
					cells[r].push(row.insertCell(0));
					cells[r][0].innerHTML = row_labels[r];
					c = 1;
					for (let col in columns) {
						cells[r].push(row.insertCell(c));
						cells[r][c].classList.add(`${labelToTag(col)}`);

						if (typeof columns[col] === 'string' && columns[col].includes("type='hidden'")) cells[r][c].style.display = 'none';

						if (typeof columns[col] === 'function') {
							cells[r][c].innerHTML  = `<div class="${labelToTag(col)}"></div>`;
							columns[col]();
						} else cells[r][c].innerHTML = columns[col];
						c += 1;
					}
				}
			}

			specsContainer.style.display = 'block';
		}


		document.querySelectorAll('.option').forEach(el => {
			el.onclick = () => {
				specify(el);
			}
		});


	let uploadForm = document.getElementById('uploadForm');

		function sendStitchPatCustoms(ev) {
			// check if required fields are filled
			for (let el of uploadForm.querySelectorAll("[required]")) {
				if (!el.reportValidity()) {
					let description = el.labels[0].innerText;

					if (!description && el.labels[0].previousElementSibling) description = el.labels[0].previousElementSibling.innerText;

					if (!description) description = tagToLabel(el.id);

					alert(`'${description}' is a required field.`);
					return;
				}
			}

			let stitchOptionsInput = document.getElementById('stitchOptions');

			stitchOptionsInput.value = JSON.stringify(stitchOptions);
		}

			let submitButton = document.getElementById('submit-button');

			submitButton.addEventListener('click', sendStitchPatCustoms);


			// uploadForm.addEventListener('submit', sendStitchPatCustoms);


		

	</script>
</html>
